.homeSlide .box {
    margin-top: 80px;
    padding: 0 40px 60px;
}

.homeSlide h1 {
    font-size: 45px;
    line-height: 55px;
    margin: 50px 0 20px 0;
}

.homeSlide p {
    margin: 20px 0;
}

.homeSlide ul {
    position: absolute;
    bottom: 20px;
}

.homeSlide ul li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
}

.homeSlide ul li button {
    background: transparent !important;
    color: transparent !important;
}

.homeSlide ul li button::before {
    font-size: 15px !important;
    color: #0f3460;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
}

.homeSlide .box img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.btn-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ff0000;
    font-size: 17px;
    border-radius: 5px;
    width: 160px;
    padding-block: 0.75rem;
    border: 1px solid #ff0000;
    position: relative;
    transition: 0.3s;
    background-color: #ffffff;
    font-weight: 600;
}

.btn-slider::before {
    content: "SALE";
    display: block;
    font-size: 13px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-5px, -30%);
    transition: .3s;
}

.btn-slider:hover::before {
    transform: translate(-5px, -50%);
}

@media (max-width: 767px) {
    .homeSlide .box {
        margin: 0;
        padding: 0;
    }

    .homeSlide h1 {
        margin: 0;
    }

    .homeSlide .col-md-6 {
        padding: 1rem;
    }
}